<div class="container-fluid main_menu">
    <div class="row">
        <div class="col-md-2 col-12 mx-auto">
            <nav class="navbar">
                <a class="navbar-brand" href="/"><i class="far fa-snowflake"></i> Weather App <i class="far fa-snowflake"></i></a>
            </nav>
        </div>
    </div>
</div>